<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.springbootproject.module.oss.dao.SysOssDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zz.springbootproject.module.oss.entity.SysOssEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="real_name" property="realName"/>
        <result column="url" property="url"/>
        <result column="suffix" property="suffix"/>
        <result column="type" property="type"/>
        <result column="size" property="size"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, real_name, url, suffix, type, size, create_time, create_user, update_time, update_user
    </sql>

    <select id="queryPage" resultType="com.zz.springbootproject.module.oss.entity.SysOssEntity">
        select
        <include refid="Base_Column_List"/>
        from sys_oss where 1 = 1
        <if test=" params.keyword != null and params.keyword != '' ">
            and (name like concat('%',#{keyword},'%') or real_name like concat('%',#{keyword},'%') or type like
            concat('%',#{keyword},'%') or suffix like concat('%',#{keyword},'%') )
        </if>
    </select>
</mapper>
