<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.springbootproject.module.sys.dao.SysRoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zz.springbootproject.module.sys.entity.SysRoleEntity">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sr.role_id, sr.role_name, sr.remark, sr.create_user_id, sr.create_time
    </sql>

    <select id="queryByUserId" resultType="com.zz.springbootproject.module.sys.entity.SysRoleEntity">
        select distinct
        <include refid="Base_Column_List"/>
        from sys_role sr
        left join sys_user_role sur
        on sr.role_id = sur.role_id
        where 1 = 1
        <if test=" userId != null and userId != 0">
            and sur.user_id = #{userId}
        </if>

    </select>
    <select id="queryPage" resultType="com.zz.springbootproject.module.sys.entity.SysRoleEntity">
        select <include refid="Base_Column_List"/> from sys_role sr where 1=1
        <if test="params.roleName != null and params.roleName != '' ">
            and sr.role_name like concat("%", #{params.roleName},"%")
        </if>
    </select>

</mapper>
